<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Curso</title>

    
</head>
<body>

    <form action="#" th:action="@{/avatar/addAvatar}" th:object="${avatar}" method="post">
        <p>Nome: <input type="text" th:field="*{nomeFantasia}" placeholder="Insira seu nome do Avatar" /></p>
        <p>Estudante:
            <select th:field="*{estudante}">
                <option th:each="e: ${estudantes}" th:value="${e.id}" th:text="${e.nome}"></option>
            </select>
        </p>
        <p><input type="submit" value="Adicionar" /></p>
    </form>
    <br><br>
        <a href="../../">Home</a><br>
        <a href="getListaAvatar">Ver lista de Avatar</a><br>
    
</body>
</html>