<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso</title>

</head>

<body>

  <p>Lista de cursos cadastrados: </p>
  <ul>
    <li th:each="curso : ${cursos}">
      <span th:text="${curso.id} +' '+ ${curso.nome} + ' ' + ${curso.linguagem}" />
    </li>
  </ul>
  <br><br>
  <p>Tabela com as infos</p>
  <table>
    <thead>
      <tr>
        <th th:text="id"></th>
        <th th:text="Nome"></th>
        <th th:text="Linguagem"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="curso : ${cursos}">
        <td th:text="${curso.id}"></td>
        <td th:text="${curso.nome}"></td>
        <td th:text="${curso.linguagem}"></td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <a href="showForm">Formulário de Cursos</a><br>

</body>

</html>