<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>

</head>

<body>


<h1>Listagem de cursos cadastrados: </h1>
<table>
    <thead>
      <tr>
        <th th:text="Id"></th>
        <th th:text="Nome"></th>
        <th th:text="Detalhes"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="curso: ${cursos}">
        <td th:text="${curso.id}"></td>
        <td th:text="${curso.descricao}"></td>
        <td>
            <a th:href="@{/curso/showFormUpdate/{id}(id=${curso.id})}">Update</a>
            <a th:href="@{/curso/deletarCurso/{id}(id=${curso.id})}">Deletar</a>
        </td>
      </tr>
    </tbody>
</table>
<br><br>
<a href="/">Home</a><br>
<a href="showForm">Formulário de curso</a><br>

</body>

</html>
